.columnPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0 64px;
  width: 100%;
  background-color: $bg_primary;
}
.recommendTopic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: $containerMaxWidth;
  margin-bottom: 56px;
  &__item {
    display: flex;
    align-items: center;
    width: calc(100% / 4 - 24px);
    height: 0;
    padding-top: calc((100% / 4 - 24px) * 2 / 3);
    position: relative;
    background-color: $dark_600;
    @include hover-effect("true");
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    > p {
      text-align: center;
      &:first-child {
        color: $primary_300;
        font-size: 22px;
        line-height: 27px;
        font-family: "Inter";
      }
      &:last-child {
        color: $light;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
      }
    }
    > hr {
      width: 56px;
      height: 1px;
      background-color: $light;
      margin: 10px 0 8px;
    }
  }
}

.recommendList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin-bottom: 8px;
  &__item {
    width: calc(100% / 4 - 6px);
    height: 0;
    padding-top: calc(100% / 4 - 16px);
    position: relative;
    margin-bottom: 18px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__bg {
    width: 100%;
    height: 64%;
    overflow: hidden;
    margin-bottom: 8px;
    @include hover-effect("true");
    @include bg-image(cover);
    & > div {
      position: absolute;
      top: calc(64% - 24px);
      left: 0;
      background-color: $primary_300;
      height: 24px;
      width: 144px;
      display: flex;
      align-items: center;
      > p {
        color: $light;
        font-size: 15px;
        line-height: 18px;
        margin-left: 8px;
        font-family: "Inter";
        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }
  &__description {
    @include truncateText(2);
  }
  &__hashtag {
    display: flex;
    > p {
      color: $primary_400;
      font-size: 12px;
      line-height: 22px;
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
