.scrollTop {
  width: 48px;
  height: 48px;
  position: fixed;
  top: calc(50% - 24px);
  right: 7.5%;
  border-radius: 999px;
  @include hover-effect("false");
}

.not-found,
.development {
  display: block;
  margin: 50px auto;
  font-weight: bold;
  font-size: 40px;
  font-family: "Inter";
  text-align: center;
}

.development {
  margin: 0;
  height: calc(100vh - 128px);
  padding-top: 164px;
  @include hover-effect("true", 1.1);
}

.buttonStyle {
  height: 56px;
  width: 296px;
  border-radius: 7px;
  color: $light;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  border: none;
  background-image: linear-gradient(to top right, #ffcc21, #ff963c);
  background-size: 300% 100%;
  @include hover-effect("false");
}
