@import './variable.scss';
@import './layout.scss';

.not-found {
  display: block;
  margin: 50px auto;
  font-weight: bold;
  font-size: 40px;
  width: 350px;
}
.development {
  display: block;
  margin: 50px auto;
  font-weight: bold;
  font-size: 40px;
  width: 350px;
}