@mixin bg-image($size) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

@mixin hover-effect($isZoom, $scale: 1.05) {
  cursor: pointer;

  @if $isZoom == "false" {
    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    }
  } @else {
    &:hover {
      transform: scale($scale);
      transition: transform 0.4s;
    }
  }
}
