$light: #FFFFFF;
$primary_300: #FFCC21;
$primary_400: #FF963C;
$primary_500: #EA6C00;
$secondary_300: #8FE9D0;
$dark_600: #2E2E2E;
$dark_text_500: #414141;
$gray_400: #777777;

$light_dark_500: #8b8b8b;
$bg_primary: #F2F2F2;

$containerMaxWidth: 960px;