$light: #ffffff;
$primary_300: #ffcc21;
$primary_400: #ff963c;
$primary_500: #ea6c00;
$secondary_300: #8fe9d0;
$dark_600: #2e2e2e;
$dark_text_500: #414141;
$gray_400: #777777;

$light_dark_500: #8b8b8b;
$bg_primary: #f2f2f2;
$border: #707070;

$containerMaxWidth: 960px;

$lowestLayer: 1;
$lowerLayer: 2;
$normalLayer: 3;
$mediumLayer: 4;
$higherLayer: 5;
$highestLayer: 6;
